scratch
notebook_images/
/data/
!data/.gitkeep  

.agent/
.agent_rules/
.cursor/
.vscode/


__pycache__/
*.pyc
.pytest_cache/

*.pt
*.pths

outputs/

sam2_finetuning_20260205_210313/
sam3_finetuning_2026-02-24_19-04-51/
