configs:
  - name: dense_v6_stab97
    generator:
      points_per_side: 64
      points_per_batch: 64
      pred_iou_thresh: 0.65
      stability_score_thresh: 0.97
      box_nms_thresh: 0.4
      crop_n_layers: 1
      crop_overlap_ratio: 0.4
      min_mask_region_area: 10
    core_radius_frac: 0.08
    grouping:
      centroid_dist_px: 15
    selection:
      w_stab: 1.0
      w_iou: 1.0
      w_aspect: 0.3
      w_area: 0.2
    prior:
      ambiguous_factor: 0.25
